<input
    #inputRef
    autocomplete="disabled"
    id="{{ fieldId }}"
    type="text"
    [attr.data-qa]="dataQA"
    [attr.data-qa-precision]="dataQAIndex"
    [class.error]="hasError"
    [class.is-invalid]="isInvalid"
    [class.warning]="hasWarning"
    [disabled]="isDisabled || isReadonly"
    [placeholder]="placeholder"
    [typeahead]="dataSource$"
    [typeaheadItemTemplate]="itemTemplate"
    [typeaheadLatinize]="true"
    [typeaheadOptionField]="suggestionField"
    [typeaheadOptionsInScrollableView]="suggestionsInScrollableView"
    [typeaheadOptionsLimit]="suggestionsLimit"
    [typeaheadScrollable]="scrollable"
    [typeaheadWaitMs]="delayMs"
    [(ngModel)]="value"
    (focusout)="handleOnFocusOut($event)"
    (keyup)="handleDeleteKeyboardEvent($event)"
    (ngModelChange)="handleOnChange($event)"
    (typeaheadLoading)="typeaheadLoading($event)"
    (typeaheadNoResults)="typeaheadNoResults($event)"
    (typeaheadOnSelect)="typeaheadOnSelect($event)"
/>
