@import '~sass/variables';

$fontColor: #515151;
$backgroundColor: #FFF;

:host {
    display: inline-block;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 15px 15px 15px;
    border: 2px solid $primary-background;
    border-radius: 5px;
    background: $backgroundColor;
    font-size: 13px;

    .card__header {
        align-self: flex-start;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: bold;
        color: $title-color;
    }

    .card__content {
        flex: 1;
        color: $fontColor;
    }

    .card__bottom {
        align-self: flex-bottom;
    }
}
