@import '~sass/mixins';
@import '~sass/variables';
@import '~app/shared/components/notification/mixins';
@import '~app/dcf/components/step-2/sample-type/sample-input.component';

@mixin step($left, $right) {
    label {
        display: inline;
        .label-not-bold {
            font-weight: normal;
        }
    }

    .label-not-bold {
        font-weight: normal;
    }
    
    app-typeahead, app-to-typeahead, app-date-input, app-dropdown {
        width: 60%;
        display: block;
    }
}

.wrapper {
    @include ltr {
        @include step(left, right);
    }
    @include rtl {
        @include step(right, left);
    }

    .error-message {
        color: $error-color;
    }

    input.error  {
        border: 2px solid $error-color;
    }

    .lastName {
        width: 100%;
    }

    .timezone {
        width: 100%;
    }
}

.no-pointer-events {
    pointer-events: none;
}
