@import '~sass/mixins';

$arrow-size: 10px;
$frameColor: #3f8532;
$messageColor: #414042;
$maxNumberOfSteps: 10;
$stepWidth: 150px;

@mixin createEditStyle($left, $right, $dir) {
    .form-frame {
        border-radius: 5px;
        border: 2px solid $frameColor;
        background-color: #ffffff;
        width: 100%;
        padding: 10px 10px 60px;
        margin-top: $arrow-size;
        margin-bottom: 50px;
        position: relative;

        .frame-arrow {
            content: " ";
            position: absolute;
            top: 0;
            #{$left}: 0;
            width: 0;
            height: 0;
            border-width: $arrow-size;
            border-style: solid;
            border-color: transparent;
            border-bottom-color: $frameColor;

            @for $i from 1 through $maxNumberOfSteps {
                &.step-active-#{$i} {
                    transform: translateX(-50% * $dir) translateX($stepWidth / 2 * $dir + $stepWidth * ($i - 1) * $dir) translateY(-100%)
                }
            }
        }

        .next-button-container {
            position: absolute;
            bottom: 0;
            // 30% is the width of the labels
            // 20px the padding between the labels and the controls
            // 5px is half the padding in the frame
            #{$left}: calc(30% + 20px + 5px);
            // 21 px is half the height of the button
            transform: translateY(calc(100% - 21px));

            app-button {
                min-width: 150px;
                height: 42px;
            }

            .message {
                font-size: 11px;
                color: $messageColor;
                text-align: center;
                width: 100%;
            }

            a.disabled {
                pointer-events:none;
            }
        }
    }

    .toolTip {
        display: flex;
        justify-content: flex-end;
    }

}

.wrapper {
    @include ltr {
        @include createEditStyle(left, right, 1);
    }
    @include rtl {
        @include createEditStyle(right, left, -1);
    }
}
