<app-view-section [isLoading]="!testParticipants">
    <app-view-section-title
        dataQA="editTestParticipantsButton"
        i18n-sectionTitle="@@testParticipants"
        sectionNumber=4
        sectionTitle="Test Participants"
        [canWrite]="canWrite"
        [link]="['/', 'to', 'edit', testingOrderId !== null ? testingOrderId : '', 'step', 4]">
    </app-view-section-title>

    <app-view-section-content
        appHideControl
        *ngIf="testParticipants"
        [permissions]="whiteList">
        <app-view-participants-table
            [participants]="testParticipants"
            [whiteList]="whiteList">
        </app-view-participants-table>
    </app-view-section-content>
</app-view-section>
